<a href="https://colab.research.google.com/github/Yogesh6662/Prediction-and-Analysis-of-Airline-Data-AWS-Hadoop-Hive-./blob/main/Data_Cleaning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from tabulate import tabulate

In [5]:
df=pd.read_csv('/content/180k_merged_file (1)-1.csv')

<ipython-input-5-2a86114f804c>:1: DtypeWarning: Columns (10,18,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/180k_merged_file (1)-1.csv')

In [6]:
first_few_rows = df.head(5)
print(tabulate(first_few_rows, headers='keys', tablefmt='pretty'))
df.shape

+---+------+-------+------------+-----------+---------+------------+---------+------------+---------------+-----------+---------+-------------------+----------------+---------+----------+----------+--------+------+----------+--------+---------+-----------+------------------+----------+--------------+--------------+----------+---------------+-------------------+---------+
|   | year | month | dayofmonth | dayofweek | deptime | crsdeptime | arrtime | crsarrtime | uniquecarrier | flightnum | tailnum | actualelapsedtime | crselapsedtime | airtime | arrdelay | depdelay | origin | dest | distance | taxiin | taxiout | cancelled | cancellationcode | diverted | carrierdelay | weatherdelay | nasdelay | securitydelay | lateaircraftdelay | delayed |
+---+------+-------+------------+-----------+---------+------------+---------+------------+---------------+-----------+---------+-------------------+----------------+---------+----------+----------+--------+------+----------+--------+---------+-----------+------------------+----------+--------------+--------------+----------+---------------+-------------------+---------+
| 0 | 1990 |   1   |     11     |     4     | 1122.0  |    1125    | 1526.0  |    1532    |      CO       |    572    |   nan   |       184.0       |     187.0      |   nan   |   -6.0   |   -3.0   |  IAH   | PHL  |   1324   |  nan   |   nan   |    0.0    |       nan        |    0     |     nan      |     nan      |   nan    |      nan      |        nan        |    N    |
| 1 | 1990 |   1   |     28     |     7     | 2305.0  |    2252    | 2341.0  |    2337    |      US       |   1026    |   nan   |       36.0        |      45.0      |   nan   |   4.0    |   13.0   |  DAY   | CAK  |   162    |  nan   |   nan   |    0.0    |       nan        |    0     |     nan      |     nan      |   nan    |      nan      |        nan        |    Y    |
| 2 | 1990 |   3   |     13     |     2     | 1615.0  |    1615    | 1822.0  |    1819    |      NW       |    771    |   nan   |       187.0       |     184.0      |   nan   |   3.0    |   0.0    |  EWR   | MSP  |   1008   |  nan   |   nan   |    0.0    |       nan        |    0     |     nan      |     nan      |   nan    |      nan      |        nan        |    Y    |
| 3 | 1990 |   1   |     3      |     3     | 1935.0  |    1930    | 2128.0  |    2132    |      DL       |    683    |   nan   |       113.0       |     122.0      |   nan   |   -4.0   |   5.0    |  LGA   | CVG  |   585    |  nan   |   nan   |    0.0    |       nan        |    0     |     nan      |     nan      |   nan    |      nan      |        nan        |    Y    |
| 4 | 1990 |   2   |     13     |     2     | 2030.0  |    2030    | 2118.0  |    2125    |      DL       |    233    |   nan   |       48.0        |      55.0      |   nan   |   -7.0   |   0.0    |  CAE   | ATL  |   191    |  nan   |   nan   |    0.0    |       nan        |    0     |     nan      |     nan      |   nan    |      nan      |        nan        |    N    |
+---+------+-------+------------+-----------+---------+------------+---------+------------+---------------+-----------+---------+-------------------+----------------+---------+----------+----------+--------+------+----------+--------+---------+-----------+------------------+----------+--------------+--------------+----------+---------------+-------------------+---------+

(180000, 30)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   year               180000 non-null  int64
 1   month              180000 non-null  int64
 2   dayofmonth         180000 non-null  int64
 3   dayofweek          180000 non-null  int64
 4   deptime            178310 non-null  float64
 5   crsdeptime         180000 non-null  int64
 6   arrtime            178058 non-null  float64
 7   crsarrtime         180000 non-null  int64
 8   uniquecarrier      180000 non-null  object
 9   flightnum          180000 non-null  int64
 10  tailnum            120610 non-null  object
 11  actualelapsedtime  177460 non-null  float64
 12  crselapsedtime     179967 non-null  float64
 13  airtime            119731 non-null  float64
 14  arrdelay           177460 non-null  float64
 15  depdelay           178306 non-null  float64
 16  origin             179992 non-null  object
 17  dest               180000 non-null  object
 18  distance           177470 non-null  object
 19  taxiin             120593 non-null  float64
 20  taxiout            120000 non-null  float64
 21  cancelled          179390 non-null  float64
 22  cancellationcode   30610 non-null   float64
 23  diverted           179390 non-null  object
 24  carrierdelay       30610 non-null   float64
 25  weatherdelay       30000 non-null   float64
 26  nasdelay           30000 non-null   float64
 27  securitydelay      30000 non-null   float64
 28  lateaircraftdelay  30000 non-null   float64
 29  delayed            179391 non-null  object
dtypes: float64(16), int64(7), object(7)
memory usage: 41.2+ MB

In [8]:
columns_to_drop = ['year', 'month', 'cancellationcode', 'diverted', 'carrierdelay', 'weatherdelay', 'nasdelay', 'securitydelay', 'lateaircraftdelay']
df = df.drop(columns=columns_to_drop)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dayofmonth         180000 non-null  int64
 1   dayofweek          180000 non-null  int64
 2   deptime            178310 non-null  float64
 3   crsdeptime         180000 non-null  int64
 4   arrtime            178058 non-null  float64
 5   crsarrtime         180000 non-null  int64
 6   uniquecarrier      180000 non-null  object
 7   flightnum          180000 non-null  int64
 8   tailnum            120610 non-null  object
 9   actualelapsedtime  177460 non-null  float64
 10  crselapsedtime     179967 non-null  float64
 11  airtime            119731 non-null  float64
 12  arrdelay           177460 non-null  float64
 13  depdelay           178306 non-null  float64
 14  origin             179992 non-null  object
 15  dest               180000 non-null  object
 16  distance           177470 non-null  object
 17  taxiin             120593 non-null  float64
 18  taxiout            120000 non-null  float64
 19  cancelled          179390 non-null  float64
 20  delayed            179391 non-null  object
dtypes: float64(10), int64(5), object(6)
memory usage: 28.8+ MB

In [10]:
# prompt: code to check sum of null values

df.isna().sum()

dayofmonth               0
dayofweek                0
deptime               1690
crsdeptime               0
arrtime               1942
crsarrtime               0
uniquecarrier            0
flightnum                0
tailnum              59390
actualelapsedtime     2540
crselapsedtime          33
airtime              60269
arrdelay              2540
depdelay              1694
origin                   8
dest                     0
distance              2530
taxiin               59407
taxiout              60000
cancelled              610
delayed                609
dtype: int64

In [11]:
# Convert non-numeric values to NaN
df['distance'] = pd.to_numeric(df['distance'], errors='coerce')

# Convert NaN values to 0 (or you can choose another appropriate value)
df['distance'].fillna(0, inplace=True)

# Convert the column to integers
df['distance'] = df['distance'].astype(int)

In [12]:
df['deptime'] = df['deptime'].fillna(df['deptime'].mean())
df['arrtime'] = df['arrtime'].fillna(df['arrtime'].mean())
df['actualelapsedtime'] = df['actualelapsedtime'].fillna(df['actualelapsedtime'].mean())
df['arrdelay'] = df['arrdelay'].fillna(df['arrdelay'].mean())
df['depdelay'] = df['depdelay'].fillna(df['depdelay'].mean())
df['distance'] = df['distance'].fillna(df['distance'].mean())
df['airtime'] = df['airtime'].fillna(df['airtime'].mean())
df['crselapsedtime'] = df['crselapsedtime'].fillna(df['crselapsedtime'].mean())
most_frequent_tailnum = df['tailnum'].mode()[0]
df['tailnum'].fillna(most_frequent_tailnum, inplace=True)
df['taxiin'] = df['taxiin'].fillna(df['taxiin'].mean())
df['taxiout'] = df['taxiout'].fillna(df['taxiout'].mean())
df['cancelled'] = df['cancelled'].fillna(df['cancelled'].mean())

In [13]:
most_frequent = df['delayed'].mode()[0]
df['delayed'].fillna(most_frequent, inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dayofmonth         180000 non-null  int64
 1   dayofweek          180000 non-null  int64
 2   deptime            180000 non-null  float64
 3   crsdeptime         180000 non-null  int64
 4   arrtime            180000 non-null  float64
 5   crsarrtime         180000 non-null  int64
 6   uniquecarrier      180000 non-null  object
 7   flightnum          180000 non-null  int64
 8   tailnum            180000 non-null  object
 9   actualelapsedtime  180000 non-null  float64
 10  crselapsedtime     180000 non-null  float64
 11  airtime            180000 non-null  float64
 12  arrdelay           180000 non-null  float64
 13  depdelay           180000 non-null  float64
 14  origin             179992 non-null  object
 15  dest               180000 non-null  object
 16  distance           180000 non-null  int64
 17  taxiin             180000 non-null  float64
 18  taxiout            180000 non-null  float64
 19  cancelled          180000 non-null  float64
 20  delayed            180000 non-null  object
dtypes: float64(10), int64(6), object(5)
memory usage: 28.8+ MB